body {
	width: 960px;
}
hr {
	color: darkgray;
}
.portfolio {
	background-color: white;
	position: relative;
	left: 200px;
	margin: 40px 0 10px 0;
	width: 360px;
	height: 100%;
	border: solid lightgray 1px;
	padding: 10px 20px 10px 20px;
}
.portfolioheader {
	text-align: center;
	font-size: 24px;
}
.container {
	background-color: white;
	width: 960px;
	align-items: center;
}
.links a {
	position: relative;
	top: -45px;
	right: 30px;
	float: right;
	font-size: 20px;
	color: lightgray;
	margin: 0 20px 0 20px;
}
h2 {
	color: #4aaaa5;
	font-size: 24px;
	font-family: 'Georgia', Times, Times New Roman, serif;
}
.fa-facebook {
    background: #3B5998;
    color: white;
    height: 60px;
    width: 75px;
    margin: 5px 15px 5px 15px;
    position: relative;
    top: -1715px;
    right: -644px;
    font-size: 40px;
    padding-top: 15px;
    text-align: center;
}
.fa-linkedin {
	background: #007bb5;
	color: white;
	height: 60px;
	width: 75px;
	margin: 5px 15px 5px 15px;
	position: relative;
    top: -1715px;
    right: -623px;
    font-size: 40px;
    padding-top: 15px;
    text-align: center;
}
.fa-instagram {
	background: #ff0080;
	color: white;
	height: 60px;
	width: 75px;
	margin: 5px 15px 5px 15px;
	position: relative;
    top: -1715px;
    right: -601px;
    font-size: 40px;
    padding-top: 15px;
    text-align: center;
}
header {
	background-color: #ffffff;
	width: 960px;
	height: 75px;
	border-bottom: solid lightgray 2px;
}
footer {
	position: relative;
	background-color: darkgray;
	color: white;
	border-top: solid #4aaaa5 3px;
	width: 100%;
	height: 75px;
	display: block;
	text-align: center;
	padding: 30px 0 0 0;
	margin-top: 20px;
	font-size: 16px;
	margin-bottom: 0;
}
.name {
	font-size: 30px;
	margin-left: 200px;
	background-color: #4aaaa5;
	padding: 13px 30px 10px 30px;
	margin-right: 550px;
	color: white;
	height: 53px;
}
#thelight {
	height: 275px;
	width: 360px;
	position: relative;
	right: 0px;
	top: 25px;
}
.HK {
	background-color: #4aaaa5;
	color: white;
	padding: 10px 0 20px 0;
	width: 360px;
	height: 22px;
	z-index: top;
	text-align: center;
	font-size: 30px;
	position: relative;
	top: -75px;
	font-family: 'Georgia', Times, Times New Roman, serif;
}
#ShellHaus {
	height: 275px;
	width: 360px;
	position: relative;
	right: 0px;
	top: -35px;
}	
.ShellHaus {
	background-color: #4aaaa5;
	color: white;
	padding: 10px 0 20px 0;
	width: 360px;
	height: 22px;
	z-index: top;
	text-align: center;
	font-size: 30px;
	position: relative;
	top: -135px;
	font-family: 'Georgia', Times, Times New Roman, serif;
}
#Hangzhou {
	height: 275px;
	width: 360px;
	position: relative;
	right: 0px;
	top: -95px;
}
.Hangzhou {
	background-color: #4aaaa5;
	color: white;
	padding: 10px 0 20px 0;
	width: 360px;
	height: 22px;
	z-index: top;
	text-align: center;
	font-size: 30px;
	position: relative;
	top: -195px;
	font-family: 'Georgia', Times, Times New Roman, serif;
}
#Amsterdam {
	height: 275px;
	width: 360px;
	position: relative;
	right: 0px;
	top: -155px;
}
.Amsterdam {
	background-color: #4aaaa5;
	color: white;
	padding: 10px 0 20px 0;
	width: 360px;
	height: 22px;
	z-index: top;
	text-align: center;
	font-size: 30px;
	position: relative;
	top: -255px;
	font-family: 'Georgia', Times, Times New Roman, serif;
}
#Groningen {
	height: 275px;
	width: 360px;
	position: relative;
	right: 0px;
	top: -215px;
}
.Groningen {
	background-color: #4aaaa5;
	color: white;
	padding: 10px 0 20px 0;
	width: 360px;
	height: 22px;
	z-index: top;
	text-align: center;
	font-size: 30px;
	position: relative;
	top: -315px;
	font-family: 'Georgia', Times, Times New Roman, serif;
}
.connect2 {
	float: right;
	position: relative;
	top: -1782px;
	right: 30px;
	background-color: #ffffff;
	width: 250px;
	height: 150px;
	color: #4aaaa5;
	font-size: 24px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	text-align: center;
	padding: 10px 20px 10px 20px;
	border: solid lightgray 1px;
}
